@import "bs";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

.navbar-brand > img {
    max-height: $navbar-brand-height;
}

@for $h from 1 through 6 {
    h#{$h} img {
        height: 1em;
        vertical-align: baseline;
    }
}

.app-topbar {
    margin-bottom: map-get($spacers, 4);
}
