article {
    // Apply sane defaults to lists used in articles.
    ul, ol {
        @apply list-inside;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    li {
        ul, ol {
            @apply .ml-5;
        }
    }

    // Clamp the maximum size of images.
    img {
        &[src$="_screenshot.png"] {
            max-width: 375px;
            max-height: max-content;
        }
        // Button images, used in documentation.
        &[src$="_button.svg"] {
            display: inline-block;
            max-height: 1.5em;
        }
    }
}
